<main>
    <div class="container">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <img src="assets/img/emmu.jpg" class="img-fluid z-depth-1-half" alt="">

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h3 class="h3 mb-3">Established in the year 2001</h3>
            <p>Our school Correspondent
              <strong> M F Immanueal</strong> </p>
            <p>Primary and higher secondary school </p>
            <!-- Main heading -->

            <hr>

            <p>
              <strong>50+</strong> Qualified teachers
              <strong>100%</strong>  Pass Results
              <strong>74</strong> Top in the Rank
              <strong>Best in the 10th class toppers</strong>
            </p>

            <!-- CTA -->
            
            <a  href="contactUs.php" class="btn btn-grey btn-md">Contact Us
             
            </a>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Main info-->

      <hr class="my-5">

      <!--Section: Main features & Quick Start-->
     
      <!--Section: Main features & Quick Start-->

      <hr class="my-5">

      <!--Section: Not enough-->
      
     
    </div>
  </main>